@page
@model IndexModel
@{
    ViewData["Home"] = "Página Inicial";
}

<h1>@ViewData["Home"]</h1>
<link rel="stylesheet" href="~/css/index.css" />
<h3>Status da Conexão: @Model.StatusConexao</h3>
<p class="description"> Aqui você pode ver a lista de alunos e suas respectivas informações de frequência.</p>

<main class="tabelas">
    <div id="frequenciaFormat">
        <table>
            <tr>
                <th>Nome</th>
                <th>Matricula</th>
                <th>Verificado</th>
                <th>Entrada</th>
                <th>Saída</th>
            </tr>
            @foreach (var aluno in Model.Alunos)
            {
                <tr>
                    <td>
                        @aluno.Nome
                    </td>
                    <td>
                        @aluno.Matricula
                    </td>
                    <td>
                        <span class="status-indicador @(aluno.Verificado ? "presente" : "ausente")"></span>
                    </td>
                    <td>
                        @aluno.DataHoraEntrada.ToString("dd/MM/yyyy HH:mm")
                    </td>
                    <td>
                        @aluno.DataHoraSaida.ToString("dd/MM/yyyy HH:mm")
                    </td>
                </tr>
            }
        </table>
    </div>
</main>
