@page
@model IndexModel
@using AttedanceTracker.DTOs;
@{
    ViewData["Home"] = "Página Inicial";
}

<h1>@ViewData["Home"]</h1>
<link rel="stylesheet" href="~/css/index.css" />
<p class="description"> Aqui você pode ver a lista de alunos e suas respectivas informações de frequência.</p>

<main class="tabelas">
    <div id="alunosJson">
<pre>@System.Text.Json.JsonSerializer.Serialize(Model.Alunos, new System.Text.Json.JsonSerializerOptions { WriteIndented = true })</pre>

    </div>

    <div id="frequenciaFormat">
        <table>
            <tr>
                <th>Nome</th>
                <th>Matricula</th>
                <th>Verificado</th>
                <th>Data</th>
            </tr>
            @foreach (var aluno in Model.Alunos) 
            {
                <tr>
                    <td>
                        @aluno.Nome
                    </td>
                    <td>
                        @aluno.Matricula
                    </td>
                    <td>
                        <span class="status-indicador @(aluno.Verificado ? "presente" : "ausente")"></span>
                    </td>
                    <td>
                        @aluno.DataHora
                    </td>
                </tr>
            }
        </table>
    </div>
</main>
